In [ ]:
import pandas as pd 

dataset = pd.read_csv('titanic.csv', sep=',', decimal='.')

filtrado = (
    dataset[['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
        .join(pd.get_dummies(dataset['Embarked'], prefix='Embarked'))
        .join(pd.get_dummies(dataset['Sex'], prefix='Sex'))
        .dropna()
        .assign(Survived=lambda x: x['Survived'].astype(bool))
)

filtrado

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,False,3,22.0,1,0,7.2500,False,False,True,False,True
1,True,1,38.0,1,0,71.2833,True,False,False,True,False
2,True,3,26.0,0,0,7.9250,False,False,True,True,False
3,True,1,35.0,1,0,53.1000,False,False,True,True,False
4,False,3,35.0,0,0,8.0500,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...
885,False,3,39.0,0,5,29.1250,False,True,False,True,False
886,False,2,27.0,0,0,13.0000,False,False,True,False,True
887,True,1,19.0,0,0,30.0000,False,False,True,True,False
889,True,1,26.0,0,0,30.0000,True,False,False,False,True
890,False,3,32.0,0,0,7.7500,False,True,False,False,True

In [9]:
filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    714 non-null    bool
 1   Pclass      714 non-null    int64
 2   Age         714 non-null    float64
 3   SibSp       714 non-null    int64
 4   Parch       714 non-null    int64
 5   Fare        714 non-null    float64
 6   Embarked_C  714 non-null    bool
 7   Embarked_Q  714 non-null    bool
 8   Embarked_S  714 non-null    bool
 9   Sex_female  714 non-null    bool
 10  Sex_male    714 non-null    bool
dtypes: bool(6), float64(2), int64(3)
memory usage: 37.7 KB

In [ ]:
from pycaret.classification import *

In [13]:

exp = ClassificationExperiment()

exp.setup(data=filtrado, target = 'Survived', session_id=22)

exp

In [15]:
best = exp.compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              22:28:24
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

c:\Users\belch\anaconda3\envs\kedro_env\lib\site-packages\pycaret\internal\pycaret_experiment\supervised_experiment.py:323: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  master_display_.apply(

In [16]:
exp.evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…